.element__like {
  background-image: url(../../../image/like.png);
  background-repeat: none;
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  color: #000;
  align-self: center;
  transition: .5s;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}

.element__like:active {
  background-image: url(../../../image/active-like.png);
}