.header__logo {
  margin: 0 auto;
  max-width: 142px;
  max-height: 33px;
  transition: .5s;
}

.header__logo:hover {
  opacity: .2;
}

@media screen and (max-width: 890px) {
  .header__logo {
    margin: 28px 0 32px 27px;
    max-width: 103px;
    max-height: 24px;
  }
}
