.profile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 890px) {
  .profile {
    max-width: 650px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 282px;
  }
}