.footer__copyright {
  color: #545454;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 890px) {
  .footer__copyright {
    margin-left: 20px;
  }
}

@media screen and (max-width: 660px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    margin-left: 0;
  }
}