.profile__add-button {
  display: flex;
  outline: none;
  background-color: transparent;
  background-image: url(../../../image/mobail-add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: #fff 2px solid;
  align-self: center;
  box-sizing: border-box;
  transition: .5s;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    width: 282px;
    margin-top: 36px;
  }
}
