.error {
  color: #FF0000;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  max-width: 358px;
  margin-top: 5px;
  display: block;
  visibility: hidden;
  height: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 890px) {
  .error {
    width: 238px;
  }
}
