.form__input {
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 358px;
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  box-sizing: border-box;
  align-self: center;
}

@media screen and (max-width: 890px) {
  .form__input {
    width: 238px;
  }
}