.popup__close-button {
  background-image: url(../../../image/Close-Icon.svg);
  background-color: transparent;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  transition: 0.5s;
}

.popup__close-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 890px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: cover;
  }
}