.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 650px) {
  .profile__info {
    align-items: center;
  }
}