.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  margin: 0;
  padding: 0;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 890px) {
  .elements__list {
    max-width: 590px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}


@media screen and (max-width: 650px) {
  .elements__list {
    grid-template-columns: 1fr;
    align-self: center;
    justify-items: center;
  }
}


